* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {display: flex; flex-direction: column;}
.first {background-color: lightslategray;
    width: 100%; height: auto;
}

.navbar {height: 12%;
display: flex;
align-items: center;}

.logo {width: 100px;
cursor: pointer;
margin-left: 45px;
padding: 20px;
}

.menu-icon {width: 45px;
cursor: pointer;
padding: 10px;
margin-left: 30px;}

.image-card {display: flex; max-width: fit-content;}

nav {flex: 1; text-align: right;}

nav ul li {display: inline; margin-left: 50px; }
na ul li a {font-size: 13px;
text-decoration:dotted;
text-decoration-color: beige;}

.row {display: flex;
align-items: center;
height: 88%;
padding: 35px;}

.col {flex-basis: 50%;}
h1 {font-size: 48px;font-style:normal;}
p { font-size: 18px; font-style: italic;}

button { width: 180px;
color: black;
font-size: 12px;
padding: 12px 0;
background: rgb(180, 179, 165);
border-radius: 20px;
margin-top:20px ;
outline: none;}

div img {width: 70%;
padding-left: 200px;
margin-bottom: 20px;
}

.second {display: flex; justify-content: center;}

.card { background-color: aliceblue; width: 270px; height: 450px;
margin: 10px;}

.im {width:270px; height: 250px; padding: 0%;}

.users {width: 100%; padding-left: 40%; margin-top: 20px; margin-bottom: 20px;}

.testimony {padding: 5px;}

h4 {font-size: small; font-style: italic; color:midnightblue; padding: 10px 5px;}

section {display: flex;}

.third {background-color:dimgray;}

.third #quote {display: flex; text-align: left; padding: 100px; flex-direction: column;}

.forth {background-color: aqua;}

.contact {margin: 50px; background-color: whitesmoke; width: 90%; height: 90px; border-radius: 10px; display: flex; text-align: left; 
    flex: 1; align-items: center; padding-left: 150px}

.contact button {height: 40px; width: 200px; margin: 140px; border-left: 50px;}


.sign-in {padding-left: 250px;}

.forth .contact .slay {font-size: xx-small;}

.fifth {background-color:dimgray;}

.fifth footer #copyright {display: flex; justify-content: center; text-align: left; padding: 10px; margin-left: 50px;}
 li > a {text-decoration: none;}
 nav li:hover {background-color:blanchedalmond;}